
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root{
 --width: 900px;
 --header-height: 70px;
 --header-margin-bottom: 25px;


 --border-radius: 20px;
 --border: 1px dashed black;

 --green: #27AE60;
 --red: #EB5757;
 --blue: #2D9CDB;
 --orange: #F2994A;
 --purple: #9B51E0;
 --yellow: #F2C94C;

 --green-transparent: rgba(137, 183, 35, 0.40);
 --red-transparent: rgba(235, 87, 87, 0.4);
 --blue-transparent: rgba(45, 156, 219, 0.4);


 --medium: 500;
 --semi-bold: 600;
 --extra-bold: 800;
 --black: 900;

 --h2-size: 20px;
 --header-font-size: 30px;


 --elements-margin: 6px;
 --elements-padding: 12px;

 --small-size: 0.8rem;
}

body {
  margin: 0;
}


.App {
  margin: 0 auto;
}

.Box {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 17' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: var(--border-radius);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: var(--width);
  height: 80vh;

  margin: 0 auto;
}

h2 {
  margin-top: 0.5rem;
  font-size: var(--h2-size);
  font-weight: var(--semi-bold);
}


* {

}

