.principal-element {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  padding: var(--elements-padding);
  margin: var(--elements-margin);
}



.principal-element #principal-image {
  z-index: -1;
  max-width: 100%;
  max-height: fit-content;
  height: 240px;
}

.principal-element .principal-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}
